body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
}

.header {
  border: solid 1px black;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.welcome {
  font-size: 30px;
  height: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between
}

.welcome-user{
  margin-left: 2%;
}

.welcome-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 40%;
}

.welcome-total {
  margin-right: 2%;
  font-size: 25px;
  
}

.signout-button {
  /* align-self: flex-end; */
  height: 30px;
  margin-right: 15px;
  margin-top: 0px;
}

ul.navbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

ul.navbar li {
  color: black;
  font-size: 2em;
  list-style-type: none;
  margin-left: 30px;

}

.main-box {
  min-height: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
}

button {
  font-size: 20px;
  margin-bottom: 5px;
}

button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

button:active {
  transform: scale(0.90);
}

.search-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-form {
  border: solid 2px black;
  height: 30%;
  width: 70%;
  padding: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.selected-trip {
  width: 70%;
  padding: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.image-preview {
  border: solid 4px black;
  width: 40%;
}

.trip-container {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;

}

.trip-box {
  border: solid 4px black;
  height: 250px;
  width: 30%;
  margin: 1%;
}

.trip-image {
  height: 250px;
  width: 100%;
}

.search-button:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.search-button:active {
  transform: scale(0.90);
}

.hidden {
  display: none;
}

.center {
  justify-content: center;
}

p {
  font-size: 10px;
}

.modal {
  display: none;
}

.trip-image:hover{
  cursor: pointer;
  transform: scale(1.01);
}

